body{
    background-color: cadetblue;
}
/* p{
    border-top-width: 10px;
    border-top-style: double;
    border-top-color: chocolate;
    border-bottom: 5px dashed blue;
    border-left:19px dotted yellowgreen ;
} */
p{
    border: 10px solid #e70909;
    border-radius: 20% 25% 30% 50%;
}
button{
    border: none;
    background: transparent;
}
img[alt="1"]{
    height: 150px;
    width: 150px;
    border-radius: 121px 0px 0px 110px;
    border: 3px solid yellow;
}
img[alt="2"]{
    height: 150px;
    width: 150px;
    border-radius: 0px 121px 111px 0px;
    border: 3px solid yellow;
}
img[alt~="pra"]{
    border: 10px double tan;
}

