*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font-fam: Amazon Ember, Amazon Arabic Ember, Arial, sans-serif !important;
}
body{
    background-color: black;
}
header{
    position: sticky;
    top: 0;
    /* background-color: ; */
}
nav{
    width: 1320px;
    height: 66px;
    color: white;
    background-color: black;
    display: flex; 
    gap: 30px;
    margin-left: 75px;
    align-items: center;
    /* justify-content: space-between; */
    font-family: var(--font-fam);
}
nav p{
    padding: 13px;
}
nav p:hover{
    background-color: #ffffff;
    color: black;
    /* padding: 10px; */
    /* width: 112px;
    height: 42px; */
    /* display: flex;
    align-items: center; */
    border-radius: 9px;
    cursor: pointer;
}
.line{
    border: solid #65696d;
    width: 1px;
    height: 24px;
    margin-left: -20px;
    background-color: blue;
}
.subscribe button{
    border: none;
    background-color: transparent;
    font-size: 16px;
    letter-spacing: .04em;
    color: #fff;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    display: flex;
    gap: 5px;
    align-items: center;
    padding: 13px;
}
.subscribe svg{
    width: 23px;
    height: 21px;
}
.subscribe button:hover{
       background-color: #ffffff;
       color: black;
       border-radius: 9px;
       cursor: pointer;
}
.nav_right{
    width: 250px;
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    margin-left: 180px;
}
.search-icon{
    display: flex;
    align-items: center;
    padding: 11px;
    height: 100%;
    margin-top: 13px;
}
.search-icon:hover{
       background-color: #ffffff;
       color: black;
       border-radius: 70%;
       cursor: pointer;
}
.EN-main{
    display: flex;
    align-items: center;
    gap: 7px;
    padding: 13px;
    position: relative;
    background-color: transparent;
    /* border: none; */
    background-color: transparent;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    font-weight: 500;
}
.EN{
    display: flex;
    padding: 10px;
}
.EN button:hover{
    color: #000000;
}
.EN:hover{
    background-color: #ffffff;
    color: black;
    border-radius: 9px;
    cursor: pointer;
}
.EN-main table{
    color: white;
    background-color: rgba(0, 0, 0, 0.692);
    opacity: 0.9;
    /* background-image: url(""); */
    background-color: rgba(128, 128, 128, 0.764);
    backdrop-filter: blur(30px);
    /* filter:blur(2px); */
    border-radius: 10px;
    /* z-index: -1; */
}
.EN-main table tr td{
    padding: 10px 70px;
}
.hidden {
    position: absolute;
    display: none;
}
.EN-main:hover .hidden {
    color: black;
    display: block;
    margin-top: 500px;
    margin-left: -550px;
}
.EN-main button{
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    letter-spacing: .04em;
    cursor: pointer;
}
.dots-box{
    margin-top: 8px;
    display: flex;
    align-items: center;
    padding: 11px;
    height: 100%;
}
.dots-box:hover{
    background-color: #ffffff;
    color: black;
    border-radius: 70%;
    cursor: pointer;
}
.person{
    height: 100%;
    margin-top: 6px;
    margin-right: 19px;
    font-size: 30px;
    padding: 10px;
    /* background-color: chartreuse; */
}
.person:hover{
    background-color: #ffffff;
    /* height: 40px;
    width: 90px; */
    color: black;
    border-radius: 50%;
    cursor: pointer;
}
.join button{
    font-size: 16px;
    letter-spacing: .04em;
    border: none;
    width: 112px;
    height: 42px;
    border-radius: 8px;
    color: #fff;
    background-color: #147bce;
    padding: 13px;
    margin-top: 13px;
}
.join button:hover{
    background-color: #228fe9;
    border-radius: 9px;
    cursor: pointer;
}
.container{
    height: 670px;
    background-image: url(https://m.media-amazon.com/images/G/31/AmazonVideo/2019/MLP.jpg);
    background-repeat: no-repeat;
    padding: 76px;
    flex-wrap: wrap;
}
.welcome{
    width: 624px;
    height: 56px;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0em;
    font-weight: 600;
    line-height: 56px;
    font-family: var(--font-fam);
}
.para{
    width: 624px;
    height: 56px;
    color: white;
    font-size: 20px;
    /* letter-spacing: 0em; */
    font-weight: 500;
    line-height: 28px;
    padding: 40px;
    margin-left: -35px;
    font-family: var(--font-fam);
}
.container button{
    font-size: 20px;
    /* padding: 8px 21px; */
    margin: 60px 8px;
    width: 228px;
    height: 62px;
    border: none;
    font-family: var(--font-fam);
    border-radius: 8px;
    background-color: #ffff;
    cursor: pointer;
    font-weight: 500px;
    line-height: 23px;
    transition: 0.2s;
} 
.container button:hover{
    background-color: #fffffff5;
    color: rgb(129, 118, 118);
    transform: scale(1.05);
}
.main{
    height: 750px;
    background-image:linear-gradient(to left, #ffffff00, #cacaca00, #97979700, #67676700, #3b3b3b00,#0101016a, #010101, #000000, #000000, #000000, #000000, #000000, #000000),url(https://m.media-amazon.com/images/G/31/AmazonVideo/2021/X-site/MLP/TVOD/TVOD_MLP_Right.jpg);
    /* background-image: linear-gradient(to var(--bg-alignment, right), black 50%, transparent 58%), var(--bg-img-url); */
    background-repeat: no-repeat;
    padding: 76px;
}
.movie{
    width: 624px;
    height: 56px;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0em;
    font-weight: 600;
    line-height: 56px;
    font-family: var(--font-fam);
    margin-bottom: 60px;
}
.data{
    width: 624px;
    height: 56px;
    color: white;
    font-size: 20px;
    /* letter-spacing: 0em; */
    font-weight: 500;
    line-height: 28px;
    padding: 40px;
    margin-left: -35px;
    font-family: var(--font-fam);
}
.main button{
    font-size: 20px;
    /* padding: 8px 21px; */
    margin: 25px 6px;
    width: 126px;
    height: 68px;
    border: none;
    font-family: var(--font-fam);
    border-radius: 8px;
    background-color: #ffff;
    cursor: pointer;
    font-weight: 500px;
    line-height: 23px;
    transition: 0.2s;
} 
button a{
    text-decoration: none;
    color: #010101;
}
.main button:hover{
    background-color: #fffffff5;
    color: rgb(129, 118, 118);
    transform: scale(1.05);
}
.end{
    /* width: 100%; */
    display: flex;
    /* gap: 140px; */
}
.channels{
    margin-left: 75px;
    height: 550px;
}
.channels h1{
    width: 684px;
    height: 112px;
    color: #ffffff;
    font-size: 50px;
    letter-spacing: 0em;
    font-weight: 600;
    line-height: 56px;
    font-family: var(--font-fam);
}
.channels div{
    width: 684px;
    height: 56px;
    color: white;
    font-size: 20px;
    /* letter-spacing: 0em; */
    font-weight: 500;
    line-height: 28px;
    padding: 40px;
    /* margin-top: 50px; */
    margin-left: -35px;
    font-family: var(--font-fam);
}
.cards img{
    width: 202px;
    height: 139px;
    padding: 3px;
    /* border: 30px solid yellow; */
    border-radius: 12px;
}
footer{
    height: 136px;
    background-color: #222222;
    text-align: center;
    padding: 29px;
}
footer a{
    color: #05a8e1;
    text-decoration: none;
    font-family: var(--font-fam);
    font-size: 15px;
}
footer a:hover{
    color: #3acbff;
}
footer p{
    color: #8197a4;
    margin-top: 13px;
    font-size: 15px;
    font-family: var(--font-fam);
}


