@import url(./style2.1.css);
h1{
    /* o to 255
    color:rgb(red, green, blue)
    color rgba(red, green, blue, alpha)
    color:#rrggbb
    00 to ff
    color:#aabbcc */
    background-color: #2874f0;
}