.web{
    .pra0{
        border: 2px yellow solid;
        border-bottom: solid 2px black;
        border-style: dotted;
        background-color: #5acfd7;
        color: #1e14ab;
        }
    .pra{
        border: 2px red solid;
        width: 30%;
        height: 20%;
        font-size: 15px;
    }
    .pra tr:first-child{
        background-color: rgb(55, 34, 76);
        color: aliceblue;
    }
    .pra tr:nth-child(even){
        background-color: rgb(148, 187, 188);
    }
    .pra tr:nth-child(even):hover{
        background-color: rgb(7, 90, 93);
    }
    
    
    
    .pra1{
        border-collapse: collapse;
        border: 3px red solid;
        width: 30%;
        font-size: 18px;
    
    }
    .pra1 tr:first-child {
        background-color: burlywood;
        color: chartreuse;
    }
    .pra1 tr:first-child:hover {
        background-color: rgb(171, 130, 76);
    }
    .pra1 tr:nth-child(even){
        background-color: cornflowerblue;
    }
    .pra1 tr:nth-child(even):hover{
        background-color: rgb(30, 75, 159);
    }
    .pra1 tr:nth-child(odd){
        color: blue;
    }
    .pra1 tr:nth-child(odd):hover{
        background-color: rgb(183, 183, 199);
    }

    .pra2{
        height: 120vh;
        background-size: cover;
        background-attachment: fixed;
        border: 2px red solid;
        border-collapse: collapse;
        width: 30%;
        height: 20%;
        font-size: 15px;
        background-image: linear-gradient(to right top, #1e46b9, #a838a5, #e4407f, #fa6c5a, #f4a145, #d1bc46, #a6d265, #72e397, #00dec1, #00d4e5, #00c6fa, #5fb5fb);
    }


    .pra3{
        border: 2px red solid;
        width: 30%;
        height: 20%;
        font-size: 15px;
    }
    .pra3 tr:first-child{
        background-color: rgb(83, 114, 83);

    }
    .pra3 tr:first-child:hover{
        background-color: yellow;

    }
    .pra3 tr:nth-child(even){
        color: rgb(183, 246, 8);
        background-image: url(https://cdn.pixabay.com/photo/2024/12/05/11/17/fishing-9246365_1280.jpg);
        background-position: top right;
    }
    .pra3 tr:nth-child(odd):hover{
        background-color: #74aab8;

    }

}


.web1{
    height: 75vh;
    background-image: url("https://www.thoughtco.com/thmb/a52VZS2Tuz735nKCS34LGyUMOzA=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages-1086740226-5c2d625a4cedfd00016ed36c.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sne{
    border: 20px;
    height: 70vh;
    font-size: 1rem;
    color: black;
    border: 4px yellow solid;
    border-collapse: collapse;
    width: 30%;
}

.web2{
    height: auto;
    background-image: url(https://www.simplilearn.com/ice9/free_resources_article_thumb/CSS_Colours.jpg);
    background-repeat: no-repeat;
}
.pra4{
    border: 20px;
    height: 40vh;
    font-size: 1rem;   
}
.pra4 th{
    color: red;
}
.pra4 th:hover{
    background-color: #5acfd7;
}
.pra4 tr{
    color: yellow;
}
.pra4 tr:hover{
    background-color: #1e14ab;
} 
    