#container{
    width: 80%;
    height:400px;
    border:solid;
    display: flex;
    /* properties of parent(flex-container) */
    /* row/coloum/coloum-reverse/row-reverse */
    flex-direction: row-reverse;
    flex-wrap: wrap;
}
.item{
    height: 100px;
    width: 100px;
    border: solid;
}
.item img{
    width: 100%;
}