div{
    height: 150vh;
    background-image:url("/Users/katukampranay/Desktop/web tech/asset/image/image copy 7.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-size: 8rem;
    /* background-position is used to allign the image where we want to target we can display we use top left,top right,top center,,center left,center right, center center,,bottom right,bottom left and bottom center  */
    background-position: center center;
}