body{ 
    margin: 0px;
}
    
div{
    /* height: 70vh;
    background-image: url("https://cdn.pixabay.com/index/2024/12/27/18-22-15-340_1440x550.jpg");
    background-size: cover;
    background-attachment: fixed;
    font-size: 2rem;
    color: aliceblue; */


    height: 120vh;
    background-size: cover;
    background-attachment: fixed;
    background-image: linear-gradient(to left bottom, #deca1c, #ff8f44, #ff5e8d, #d162d1, #1279eb);
    font-size: 3rem;
    color: aliceblue;

}