*{
    margin: 0;
    padding: 0;
}
div{
    margin: auto;
    height: 400px;
    width: 500px;
    background-color: skyblue;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
p{
  color: rgb(0, 68, 255); 
  /* we can give text align left/right/center/justify */
  text-align: center;
  letter-spacing: 3px;
  word-spacing: 8px;
  text-indent: 40px;
  /* text decoration we can give none/line-through/underline/overline/underline wave */
  text-decoration: line-through yellow;
  /* text-transform we can give uppercase/lowercase/captalize(captalize means 1st letter of every word is capital) */
  text-transform: capitalize;
  text-shadow: 5px 4px 3px red, 2px 0px 19px black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 150px;
}
