table{
    border: 2px red solid;
    border-collapse: collapse;
    width: 30%;
    height: 20%;
    font-size: 15px;
}
table tr:first-child{
    background-color: rgb(70, 140, 142);
    color: aliceblue;
}
table tr:nth-child(even){
    background-color: rgb(148, 187, 188);
}
tr:nth-child(even):hover{
    background-color: rgb(7, 90, 93);
}
/* 
psuedo element */

div::first-letter{
    color: hotpink;
}
div::first-line{
    color: blue;
}
div::before{
    content:"😌";
}
div::after{
    content:"😎";

}
div::selection{
    color: brown;
    background-color: yellow;
}
input::placeholder{
    color: tomato;
}
ul li::marker{
    color: blue;
}

