*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
nav{
    height: 30px;
    color: blue;
    background-color: chartreuse;
    font-size: 20px;
    text-align: center;
    text-transform: capitalize;
}
ol{
    list-style: none;
    height: 60px;
    color: aliceblue;
    background-color: cadetblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
}
p{
    font-size: 4rem;
}
i{
    position: relative;
    left: -23px;
    color: blue;
}
div{
    position: relative;
}
.img1{
    position: absolute;
    left: 300px;
}
.img2{
    position: absolute;
    left: 390px;
    z-index: -1;
}
