/* h1{
    height: 60px;
    width: 100px;
    background-color: cadetblue;
}
p{
    color: cornflowerblue;
} */


/* group elemets denoted by (,) symbol
h3,span,footer{
    color: blue;
} */


/* if we want to give all the elements same color we use universal
*{
    color: red;
} */
 
/*(.)is for the class and (#)is for the id ...we can give the unique color for what element we want  */

.demo{
    color: darkolivegreen;
}

#item {
    background-color: brown;
}

.demo2{
    background-color: magenta;
}