*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    height: 432px;
    background-image: url(https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-attachment: fixed; */
    background-position: center;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.logo a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin-left: 160px;
}
.ul-1{
    margin-right: 160px;
}
.li-1{
    list-style: none;
    display: inline;
}
.li-1 a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 20px;

}
.start-1 img{
    width: 300px;
    height: 60px;
    display: block;
    margin: auto;
    margin-top: 40px;
}
.start-2{
    color: white;
    font-size: 36px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  */
    font-family: okra,Arial, Helvetica, sans-serif;
    margin: 30px 0px 0px;
    text-align: center;
}
.searchbar{
    display: flex;
    justify-content: center;
    margin: 30px;
}
.start-3{
    height: 55px;
    width: 200px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0.8rem 0 0 0.8rem;
    background-color: white;
    color: #757575;
    
}
.name1{
    margin: 16px 5px 0px;
}
.start-4{
    height: 55px;
    width: 500px;
    border: 1px solid rgb(232, 232, 232);
    border-radius: 0 0.8rem 0.8rem 0;
    background-color: white;
}
.search{
    border: 0cap;
    height: 20px;
    width: 400px;
    margin: 16px 5px 0px;
}
i{
    margin-left: 12px;
}
 .main-2 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}
.main-2 .card {
    border: 1px solid #e8e8e8;
    /* border: solid; */
    background-color: #ffffff;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 80px;
    width: 365px;
    height: 195px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
#first{
    transition: 1s;
    /* border: solid; */
}
#first:hover{
    transform: scale(1.05);
}
#second:hover{
    transition: 1s;
    transform: scale(1.05);
}
#third:hover{
    transition: 1s;
    transform: scale(1.05);
}
img {
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0px 0px;
}
h3 {
    margin-top: 10px;
    margin-left: 19px;
    color: #363636;
}
.para1{
    margin-top: 10px;
    margin-left: 19px;
    margin-bottom: 13px;
    color: #4f4f4f;
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-3 h2{
    font-size: 35px;
    font-weight: 180;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  
    margin: 60px 150px 0px;
}
.para3{
    margin: 6px 150px 0px;
    color: #4f4f4f;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-4{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.bgimg-1{
    color: #ffffff;
    border-radius: 8px;
    margin-top: 30px;
    height: 315px;
    width: 272px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%),url(https://b.zmtcdn.com/data/collections/684397cd092de6a98862220e8cc40aca_1721907131.png?output-format=webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-2{
    color: #ffffff;
    border-radius: 8px;
    margin-top: 30px;
    height: 315px;
    width: 272px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%),url(https://b.zmtcdn.com/data/collections/6922d49fb675d0490edb652abf5ca45f_1727171286.png?output-format=webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-3{
    color: #ffffff;
    border-radius: 8px;
    margin-top: 30px;
    height: 315px;
    width: 272px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%),url(https://b.zmtcdn.com/data/collections/c0659397d7fe2cb45d024d9375c2c5ea_1725362174.png?output-format=webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.bgimg-4{
    color: #ffffff;
    border-radius: 8px;
    margin-top: 30px;
    height: 315px;
    width: 272px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.05) 50%, rgba(0, 0, 0, 0.05) 85%),url(https://b.zmtcdn.com/data/collections/4e41758598775d808a8e70d6654df929_1725604011.png?output-format=webp);
    background-repeat: no-repeat;
    background-size: cover;
}
.para4{
    margin-top: 270px;
    margin-left: 15px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.para5{
    color: black;
    font-size: 36px;
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;  */
    font-family: okra,Arial, Helvetica, sans-serif;
    margin: 120px 160px 0px;
}
.main-5{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
.border1{
    border: 1px #e8e8e8 solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    height: 79px;
    width: 330px;
    margin: 30px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
}
.border2{
    border: 1px #e8e8e8 solid;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 8px;
    height: 79px;
    width: 330px;
    margin: 30px;
    padding: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}
.main-6{
    margin-top: 100px;
    background-color: rgb(255 251 247);
    display: flex;
    justify-content: center;
}
.login{
    width: 490px;
    height: 349px;
    margin: 30px;
}
.login h2{
    font-size: 45px;
    font-weight: 180;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    margin-bottom: 24px; 
}
.login p{
    color: #4f4f4f;
    font-size: 15px;
    margin-bottom: 24px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.radio{
    color: #4f4f4f;
    font-size: 15px;
    margin-bottom: 24px; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.radio-btn{
      height: 15px;
      width: 15px;
      accent-color: #ef4f5f;
}
.emailable{
    margin-right: 40px;
}
.email-btn input{
    border: 1px solid #bbbbbb;
    height: 48px;
    width: 292px;
    margin-bottom: 24px; 
    border-radius: 7px;
    padding: 15px;
    font-size: 18px;
}
.email-btn button{
    border: 1px solid;
    background-color: #ef4f5f;
    color: white;
    height: 48px;
    width: 150px;
    border-radius: 7px;
}
.main-7{
    border: 1px #e8e8e8 solid;
    box-shadow: #e8e8e8 0px 1px 5px;
    border-radius: 8px;
    height: 79px;
    width: 1100px;
    margin: 30px;
    margin-left: 160px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: space-between;
}
.footernav{
    background-color: #f8f8f8;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}
.ul-img{
    list-style: none;
    margin-left: 190px;
}
.ul-btn{
    list-style: none;
    margin-right: 170px;
    position: relative;
}
.bt-1{
    margin-left: 200px;
    position: absolute;
    right: 140px;
}
.bt-2{
    position: relative;
}
#iii1{
    position: absolute;
    left: -3px;
    font-size: 16px;
}
button{
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border: 1px #b5b5b5 solid;
    background-color: transparent;
    border-radius: 6px;
    width: 119px;
    height: 38px;
}
.main-8 {
    display: flex;
    justify-content: center;
    background-color: #f8f8f8;
    color: #696969;
}
.ul-2{
    list-style: none;
    font-size: smaller;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 45px;
}
.li-22{
    letter-spacing: 3px;
    color: black;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.li-23{
    font-size: 19px;
    color: black;
}
.footerline{
      border: 0.1px #cfcfcf solid;
      width: 1060px;
      margin-left: 170px;
}
footer{
    height: 100px;
    background-color: #f8f8f8;
    color: #4f4f4f;
    font-size: smaller;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 30px 170px;
}


